{% extends 'layout/default.html.twig' %}

{% block content %}
    <main class="h-100 d-flex flex-column justify-content-center">
        <header class="text-center">
            <h1 class="m-0 font-weight-light">Symfony Core App</h1>
        </header>
    </main>
{% endblock %}
